.searchBar {
    display: inline-block;
    border-radius: 10px;
    margin: 5px 0px 10px 0px;
    border: none;
    height: 50px;
    padding: 0px 0px 0px 10px;
    background-color: rgb(255, 255, 255);
}
