.card {
    margin: 20px;
    width: 200px;
}

.smallCard{
    margin: 1% ;
    width: 18%;
}

.productLink{
    display: block;
    text-decoration: none;
    color: black;
}

.delOriginalPrice{
    color: rgba(128, 128, 128, 0.874);
}

.price{
    color: rgb(0, 183, 255);
}

.cardImg{
    border-radius: 5px;
}