body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: -26px 0px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$suggestionBoxMarginTop: 15px;
$mobileScreenSideMargin: 4%;
$suggestionBoxTextColor: rgb(74, 74, 74);
$suggestionBoxTextColorHover: grey;